.popover {

    z-index: 1070;
    display: block;
    max-width: 276px;
    padding: 0;
    font-family: var(--cu-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: var(--cu-card-bg);
    background-clip: padding-box;
    border: var(--cu-card-border);
    border-radius: var(--cu-radius);
    box-shadow: var(--cu-shadow);
    opacity: 0;
    transition: var(--cu-transition);
}

    .popover.show {
        opacity: 1;
    }

/* ========== ARROW ========== */
.popover-arrow {
    position: absolute;
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transform: rotate(45deg);
}

.bs-popover-top .popover-arrow {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}

.bs-popover-bottom .popover-arrow {
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
}

.bs-popover-left .popover-arrow {
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
}

.bs-popover-right .popover-arrow {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

/* ========== HEADER ========== */
.popover-header {
    padding: 0.5rem 0.75rem;
    margin: 0;
    font-family: var(--cu-font-cyber) !important;
    font-size: 1rem;
    font-weight: 600;
    color: #212529;
    background-color: var(--cu-hover);
    border-bottom: 1px solid var(--cu-card-border) !important;
    border-top-left-radius: calc(0.375rem - 1px);
    border-top-right-radius: calc(0.375rem - 1px);
}

    .popover-header:empty {
        display: none;
    }

/* ========== BODY ========== */
.popover-body {
    padding: 0.5rem 0.75rem;
    color: var(--cu-text-secondary) !important;
}

/* ========== CUSTOM STYLES ========== */
.popover.custom-popover {
    background-color: #f8f9fa;
    border-color: #6c757d;
}

    .popover.custom-popover .popover-header {
        background-color: #6c757d;
        color: white;
        border-bottom-color: #6c757d;
    }
